.gSender{
  float:left;
  display:block;
}

.gSubject{
  display:inline-block;
}

.gDate{
  display:block;
  float:right;
  display:inline-block;
}

.gBody{
  display:none;
}

.mainBox{
  width:100%;
  margin:0 auto;
  display:inline-block;
  text-align:center;

}