.gSender{
  float: left;
  display: block;
  text-align: left;
  width: 30%;
}

.gSubject{
  display: inline-block;
  width: 300px;
  text-align: left;
  float: left;
}

.gDate{
  display:block;
  float:right;
  display:inline-block;

}

.gBody{
  display:none;
  padding:10px;
  background-color:#f2f2f2;
  float:middle;


}

#line{

}

.mainBox{
  width:100%;
  margin:0 auto;
  display:inline-block;
  text-align:center;


}

.inboxDiv{
}
#inboxCount{
}